# Build outputs
/oadtd
/oadtd.exe
/oadtdctl
/oadtdctl.exe
/dist/
/bin/

# Local caches
/.cache/
/.gocache/
/.gomodcache/

# Editor and OS files
.DS_Store
Thumbs.db
.idea/
.vscode/


# Python
__pycache__/
*.pyc
